@{
    ViewBag.Title = "Home Page";
}

<style>
    .bold {
        font-weight: bold;
    }

    .italic {
        font-style: italic;
    }

    .underline {
        text-decoration: underline;
    }
    .testCssClass
    {
        color:red;
    }
</style>

<div class="jumbotron">
    <h1>AngularJS</h1>
    <p class="lead">Playground for AngularSJ</p>
</div>

<div class="row">
    
    @* Lesson 1 - Basics *@
    <div ng-controller="index">@* apply the controller *@
       
        Display Message: {{message}}  @* To print a variable value in our template, use the double curly brace syntax, specifying the name of the $scope variable you wish to print. *@
    
        <br />
        
        Evaluating Expressions: 1 + 1 = {{ 1 + 1 }}  @* note that angular views whatever is inside the curly braces as an expression*@
    </div>

    <br />

    @* Lesson 2 - Two-Way Binding *@
    <div ng-controller="twoway">
        {{Header}}

        <div>
            Favorite word: <input type="text" ng-model="favouriteWord" /> @*the value of the textbox is bound to the favouriteWord variable in the twoway Controller*@
            - {{favouriteWord}}
        </div>
        <div>
            Favorite color:
            <input type="radio" name="fc" value="Red" ng-model="favouriteColor" />Red
            <input type="radio" name="fc" value="Green" ng-model="favouriteColor" />Green
            <input type="radio" name="fc" value="Yellow" ng-model="favouriteColor" />Yellow
            <input type="radio" name="fc" value="Blue" ng-model="favouriteColor" />Blue
            - {{favouriteColor}}
        </div>
        <div>
            Favorite shape:
            <select ng-model="favouriteShape">
                <option value="Circle">Circle</option>
                <option value="Triangle">Triangle</option>
                <option value="Square">Square</option>
            </select>
            - {{favouriteShape}}
        </div>

    </div>

    <br />

    @* Lesson 3 - Binding CSS Classes *@
    <div ng-controller="bindingClasses">
        {{Title}}

        <input type="text" ng-model="value" />
        <span ng-class="{bold: isBold(), italic: isItalic(), underline: isUnderlined(), testCssClass: getColor()}">Example Text {{value}}</span>
        @*ng-class value is a list of cssClasses and either true or false, fetched by a controller method*@
        
    </div>

</div>

<script type="text/javascript">

    angular.module("root", [])//module is the logical container for components
        .controller("index", ["$scope", function ($scope) { //controller is a function which augments the scope with data, functions, and whatnot.
            $scope.message = "Hello World";
        }])
        .controller("twoway", ["$scope", function ($scope) { //note - I can declare multiple controllers off the same module
            $scope.Header = "How about some 2 way Binding?";

            $scope.favouriteWord; //using ng-model directive, ui controls are bound to these variables
            $scope.favouriteColor;
            $scope.favouriteShape;

        }])
        .controller("bindingClasses", ["$scope", function ($scope) { //note - your scope must be declared with a $ - otherwise it won't work
            $scope.Title = "Binding CSS Classes";

            $scope.value = 1;

            $scope.isBold = function () { return $scope.value % 2 === 0; };
            $scope.isItalic = function () { return $scope.value % 3 === 0; };
            $scope.isUnderlined = function () { return $scope.value % 5 === 0; };
            $scope.getColor = function () { return $scope.value > 10; };
        }]);

</script>

<script></script>
